#{extends 'main.html' /}
#{set title:'Evolution' /}

<div class="page-header">
    <h1>Evolution ${evolution.id}</h1>
</div>

<dl class="dl-horizontal">
    <dt>Configurations</dt>
    <dd>${evolution.numberOfConfigurations}</dd>

    <dt>Generations</dt>
    <dd>${evolution.numberOfGenerations}</dd>

    <dt>Fitness Function</dt>
    <dd>${evolution.fitnessFunction}</dd>

    <dt>Selection Algorithm</dt>
    <dd>${evolution.selectionAlgorithm}</dd>
</dl>

<table class="table table-hover table-striped">
    <tbody>
    #{list items:evolution.generations, as:'generation'}
        <tr>
        #{list items:generation?.geneticConfigurations, as:'configuration'}
            <td style="background: rgb(#{color number: configuration.fitness /})"><a href="@{GeneticConfigurations.show(configuration.id)}" style="text-align: center; font-weight: bold" class="tdlink">${configuration.fitness.format("0.00")}</a></td>
        #{/list}
        </tr>
    #{/list}
    </tbody>
</table>
