body {
    padding-top: 60px;
}

.table-hover tbody tr:hover td {
    background: #fff6d9;
}

table td {
    padding: 0;
}

table .tdlink {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: inline-block;
}